name: Build, Push and Deploy

on:
  push:
    branches: [ main ]

env:
  REGISTRY: crpi-9koetp78bl09eg2k.cn-shenzhen.personal.cr.aliyuncs.com
  IMAGE_NAME: ${{ secrets.ALIYUN_ACR_NAMESPACE }}/health-check-in  # 阿里云镜像名称

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      # 检出代码
      - name: Checkout
        uses: actions/checkout@v4


      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      # 登录阿里云容器镜像服务
      - name: Login to Aliyun ACR
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.ALIYUN_ACR_USERNAME }}
          password: ${{ secrets.ALIYUN_ACR_PASSWORD }}

      # 构建并推送镜像
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .  # Dockerfile 在根目录
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
          push: true

      # 配置 SSH 环境
      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.PUBLIC_SERVER_PRIVATE_KEY }}" > ~/.ssh/server.pem
          chmod 600 ~/.ssh/server.pem
          ssh-keyscan ${{ secrets.PUBLIC_SERVER_HOST }} >> ~/.ssh/known_hosts

      # SSH 直接连接到公网服务器部署
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.PUBLIC_SERVER_HOST }}  # 公网服务器IP或域名
          username: ${{ secrets.PUBLIC_SERVER_USERNAME }}  # 登录用户名
          key: ${{ secrets.PUBLIC_SERVER_PRIVATE_KEY }}  # SSH私钥
          script: |
            # 进入项目目录
            cd /opt/health-check-in
            
            # 拉取最新镜像
            docker compose pull
            
            # 重新启动容器
            docker compose up -d --force-recreate
            
            # 清理旧镜像
            docker image prune -af --filter "until=24h"